ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    display: flex;
    background-color: goldenrod; 
}

li {
    margin: 0 15px; 
}


a {
    text-decoration: none; 
    color: white; 
    padding: 10px 15px; 
}
.cart{
    width: 40px;
}
